.header {
    position: fixed;
    top: -220px;
    left: 0;
    width: 100%;
    transition: top .3s ease;
    background: $color-5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 100;
   

    &.scrolled {
        top: 0;
    }

    &__logo {
        
        img {
            width: 120px;

            // @include phone-wide-min {
            //    width: 180px;
            // }

            @include tablet-wide-min {
                width: 280px;
            }            
        }
    }

    &__wrapper {
        width: 100%;
        position: relative;
        justify-content: space-between !important;
    }

}