ul {
    margin: 24px 0 0;
    padding: 0;
    background: lighten($color-5, 6%);
    padding: 32px;
    border-radius: 24px;
}

li {
    padding: 12px 0;
    line-height: 1.6;
    list-style: none;
    font-size: 1.18rem;

    span {
        font-family: 'ddc', sans-serif;
        padding-right: 8px;
        color: $color-3;
        line-height: 1;
    }
}

.hero {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darken($color-3, 10%);
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    position: relative;
    overflow: hidden;
    margin-bottom: 48px;

    &__video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        video {
            filter: saturate(.25);
            opacity: 0.5;
        }
    }

    &__content {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparentize($color-3, 0.5);
    }

    h1 {
        color: $color-2;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        line-height: 1;
        padding: 24px;
    }
    
    img {
        width: 40%;
        height: auto;
        max-width: 500px;
    }
}

.image_text {
    padding: 40px 40px 0;

    @include tablet-min {
        padding: 120px 48px 0 84px;
    }
    

    &:last-of-type {
        padding-bottom: 40px;

        @include tablet-min {
            padding-bottom: 120px;
        }
        
    }

    &__wrapper {

        @include tablet-wide-min {
          gap: 24px;
        }
        
    }

    &__text {

        @include tablet-wide-min {
          grid-column: auto / span 12
        }
        

        &.inner--20 {
            padding: 20px 0;
    
            @include tablet-min {
              padding: 20px;
            }
            
        }

    }

    &__image {
        position: relative;
        aspect-ratio: 4 / 3;
        border-radius: 24px;

        @include tablet-wide-min {
            grid-column: auto / span 12
        }

        img {
                   position: absolute;
                   inset: 0;
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                   border-radius: 24px; 
        }

        &::after {
            content: '';
            background: $color-4;
            border-radius: 24px;
            position: absolute;
            top: -22px;
            bottom: 12px;
            left: -22px;
            right: 22px;
            z-index: -1;

            @include tablet-min {
                top: -42px;
                bottom: 32px;
                left: -42px;
                right: 42px;
            }
            
        }
    }
}

.image_text--reverse {
    padding: 40px 40px 0;

    @include tablet-min {
        padding: 120px 44px 0 24px;
    }
    

    .image_text__text {

        @include tablet-min {
            order: -1;
        }
        
    }

    .image_text__image {

        &::after {
            right: -22px;
            left: 22px;

            @include tablet-min {
                right: -42px;
                left: 42px;
            }
            
        }
    }
}

.gallery {
	position: relative;
	padding: 100px 24px 40px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
    max-width: 1400px;
    margin: 0 auto;

	// h2 {
	// 	text-align: left;
    //     width: 100%;
	// }

	&__items {
		@include grid;
		grid-gap: 10px;
		min-height: 600px;
		width: 100%;
        padding: 48px;
        background: lighten($color-5, 6%);
        border-radius: 24px;

        @include tablet-wide-min {
          grid-gap: 32px;
        }
        
	}

	&__item {
		min-height: 400px;
		grid-column: auto / span 24;
		grid-row: auto / span 1;
		background-size: cover !important;
		background-position: center top;
		background-repeat: no-repeat;
        border-radius: 16px;
        overflow: hidden;

		@include tablet-min {
				grid-column: auto / span 8;
				grid-row: auto / span 1;
			}
	}

}

.mfp-wrap {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 101;
    background: black;
}

.mfp-image-holder .mfp-content {
	max-width: 1600px !important;
    margin: 0 auto;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	position: fixed !important;
	top: 40px !important;
	right: 40px !important;
	width: 40px !important;
	height: 40px !important;
	padding: 0 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	color: #000 !important;
	background: #fff !important;
	border-radius: 50% !important;
	line-height: 1.5 !important;
	font-size: 1.5em !important;
}

img.mfp-img {
	padding: 0 !important;
    max-width: 100% !important;
}

.mfp-title {
	// background: $gradient-reverse;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 0;
	ul {
		padding: 0;
	}

	li {
		list-style: none;
		padding: 10px 0;

		span {
			font-family: 'ddc', sans-serif;
			font-weight: 700;
			padding-right: 10px;
		}

		a {
			text-transform: none;

			&:hover {
				color: $color-3;
			}
		}
	}
}



